blinker==1.8.2
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cowsay==6.1
cryptography==42.0.8
Flask==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pycparser==2.22
pyTelegramBotAPI==4.19.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
pytz==2024.1
reportlab==4.2.0
requests==2.32.3
six==1.16.0
telebot==0.0.5
tk==0.1.0
tzdata==2024.1
ua-parser==0.18.0
urllib3==2.2.1
user-agents==2.2.0
user_agent==0.1.10
Werkzeug==3.0.3
